<!--thymeleaf 설정 필요-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevCard Login</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
<div class="login-container">
    <div class="logo-circle">
        <p class="logo-letter">D</p>
    </div>
    <h1 class="app-name">DevCard</h1>

    <button class="github-login-btn" onclick="githubLogin()">
<!--        <img src="github-logo.png" alt="GitHub Logo">-->
        Log in with GitHub
    </button>

    <p class="terms">
        By selecting one or the other, you are agreeing to the
        <a href="#">Terms of Service</a> & <a href="#">Privacy Policy</a>.
    </p>
</div>

<!--<script src="login.js"></script>-->
</body>
</html>
